// Mixins Here

.flexed(@justify: center, @align: center) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.main-button-style(@color, @background, @padding) {
    color: @color;
    background-color: @background;
    padding: @padding;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
        background-color: lighten(@background, 5%);
    }

}