// Navigation code here
.navigation {
    background-color: @nav-bg;
    padding: 10px;
    border-bottom: 2px solid @nav-border;

    .top-nav {
        .nav-header { 
            max-width: 800px;
            width: 60%;
            margin: 0 auto;
            h1 {
                font-size: 4rem;
                text-align: center;
            }
        }

        .nav-items {
            max-width: 800px;
            width: 50%;
            margin: 0 auto;
            .flexed(space-around);
            padding-top: 20px;

            a {
                font-size: 1.6rem;
                font-weight: 700;
                color: black;
                font-style: @nav-font;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}